# Untracked files:
*.mat
*.csv
*checkpoint.ipynb
*pkl
*.zip
.idea/
data_local/LogisticRegressionModel.joblib.pkl
data_local/test_1_new.zip
data_local/test_2_new.zip
data_local/test_3_new.zip
data_processing/.ipynb_checkpoints/
data_processing/data_processing.pyc
data_processing/feature_extraction.pyc
data_processing/transformations.pyc
notebooks/.ipynb_checkpoints/
notebooks/GraphingSetup.pyc
notebooks/SGDClassifierModeling.ipynb
test_1_new/
test_2_new/
test_3_new/
testy1/
testy2/
train_1/
train_2/
train_3/
